/* src/App.css */
.app-store {
  font-family: Arial, sans-serif;
  background-image:linear-gradient(lightblue,white) ;
  padding-bottom: 2rem;
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
